<ion-view>
	<ion-nav-title>Humanuino</ion-nav-title>
	<ion-content style="padding: 10px">
		<div class="card">
		  <div class="item item-text-wrap">
		  O Humanuino visa tornar as pessoas melhores com doacao de sangue e roupa. Cada doacao soma pontos para um ranking que pode ser trocado por mercadorias no mercado de Passo Fundo.
		  </div>
		</div>
		
		<button class="button button-block button-outline button-positive ">
		  Acao Social
		</button>
		<button class="button button-block button-outline button-positive">
		  Ranking
		</button>
		<button ng-click="clicouEmLocais()" class="button button-block button-outline button-positive">
		  Locais
		</button>
		
		<br/><br/>
		
		<button class="button icon-left ion-settings button-outline button-positive">
		  Login
		</button>
	</ion-content>
</ion-view>